/* Import other CSS files */
@import url('frames.css');
@import url('navbar.css');
@import url('stat-table.css');
@import url('data-table.css');
@import url('leaderboard-table.css');
@import url('switch.css');
@import url('kvp.css');


@font-face {
    font-family: "Posterama 1927";
    src: url("https://db.onlinewebfonts.com/t/bf8e6666252f4d6e781c1afacd6fb995.eot");
    src: url("https://db.onlinewebfonts.com/t/bf8e6666252f4d6e781c1afacd6fb995.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/bf8e6666252f4d6e781c1afacd6fb995.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/bf8e6666252f4d6e781c1afacd6fb995.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/bf8e6666252f4d6e781c1afacd6fb995.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/bf8e6666252f4d6e781c1afacd6fb995.svg#Posterama 1927")format("svg");
} /* font-family: "Posterama 1927"; */

@font-face {
    font-family: "Brandon Grotesque Medium";
    src: url("https://db.onlinewebfonts.com/t/5b15925f730447e503cfd467c0c91c3f.eot");
    src: url("https://db.onlinewebfonts.com/t/5b15925f730447e503cfd467c0c91c3f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5b15925f730447e503cfd467c0c91c3f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5b15925f730447e503cfd467c0c91c3f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5b15925f730447e503cfd467c0c91c3f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5b15925f730447e503cfd467c0c91c3f.svg#Brandon Grotesque Web Medium")format("svg");
} /* font-family: "Brandon Grotesque Medium"; */

@font-face {
    font-family: "Brandon Grotesque Regular";
    src: url("https://db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.eot");
    src: url("https://db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.svg#Brandon Grotesque Regular")format("svg");
} /* font-family: "Brandon Grotesque Regular"; */

/* Define CSS Variables for Light and Dark Themes */
:root {
    --background-color: #F9F9F9;
    --text-color: #333;
    --alt-text-color: #dbdbdb;

    --frame-background: #FFF;
    --frame-border: #DDD;

    --alt-frame-background: #1a1a1a;
    --alt-frame-border: #444;

    --shadow-color: rgba(0, 0, 0, 0.1);
    --secondary-text-color: #555;
    --graph-background: #F0F0F0;
    --table-header-bg: #EEE;
    --footer-bg: #333;
    --footer-text: #FFF;

    --highlight-color: #FFD700;

    --frame-anim-time: 0.1s;
}

/* Dark Theme */
/*[data-theme="dark"]*/ .dark-theme {
    --background-color: #121212;
    --text-color: #E0E0E0;
    --alt-text-color: #333;

    --highlight-color: #ff0073;
    --frame-border: #444;

    --alt-frame-background: #e1e1e1;
    --alt-frame-border: #DDD;

    --shadow-color: rgba(255, 255, 255, 0.1);
    --secondary-text-color: #BBB;
    --graph-background: #252525;
    --table-header-bg: #333;
    --footer-bg: #222;
    --footer-text: #CCC;

    --frame-background: #1E1E1E;
}

/* Global Styles */
body {
    font-family: "Brandon Grotesque Regular", Arial, sans-serif;
    text-transform: uppercase;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 40px;
}

main {
    padding: 20px;
}


/* Generic Graph Container */
.graph-container {

    align-items: center;
    flex: 1; /* Takes up remaining space */
    min-height: 0; /* Prevents overflow issues */
    width: 100%;
    height: 100%;
}





/* Theme Toggle Button (optional) */
.theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: var(--frame-background);
    color: var(--text-color);
    border: 1px solid var(--frame-border);
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}


/* Buttons */
.primary-btn {
    /*position: fixed;*/
    padding: 10px 20px;
    font-size: 16px;
    background: gold;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.primary-btn:hover {
    background: darkgoldenrod;
    color: white;
}