
.layout {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
}
.layout.horizontal {
    flex-direction: row;
}
.layout.vertical {
    flex-direction: column;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;

    flex: 1;
    overflow: hidden;
    /* padding: 4px; */
}
.section.horizontal {
    flex-direction: row;
}
.section.vertical {
    flex-direction: column;
}


.frame {
    flex: 1;
    margin: 4px;
    overflow: hidden;
}

/* Base Frame Style */
.frame:not(.spacer) {
    display: flex;
    flex-direction: column;

    background-color: var(--frame-background);
    /*box-shadow: 0 4px 6px var(--shadow-color);*/
    
    border: 1px solid var(--frame-border);
    outline: 0px solid transparent; /* Invisible outline */
    transition: outline var(--frame-anim-time) ease-in-out, 
                border-color var(--frame-anim-time) ease-in-out;
    border-radius: 8px;
}

.frame.spacer {
}

.frame.button {
    cursor: pointer;
}  

.frame.button:hover {
    outline: 4px solid var(--highlight-color); /* Adds hover effect without affecting size */
    border-color: var(--highlight-color); /* Still colour small border too to remove gap */

    /*transform: scale(1.05);*/
}

/* Header section that controls the title area */
.frame-header {
    width: 100%;
    padding: 0px; /* This controls the padding around the title */
    background: transparent;
    transition: background-color var(--frame-anim-time) ease-in-out; /* Smooth transition */
}

/* Title inside the header */
.frame-header {
    color: black;
    margin: 0;
    font-family: "Brandon Grotesque Medium";
    text-transform: uppercase;
}

.frame-header h1 {
    margin: 15px 20px;
    font-size: 32px;
}

.frame-header h2 {
    margin: 15px 15px;
    font-size: 28px;
}

.frame-header h3 {
    margin: 15px 10px;
    font-size: 24px;
}

/* Content section inside the frame */
.frame-content {
    padding: 20px; /* Padding applies only to content */
}

/* Hover effect only affects the header */
.frame.button:hover .frame-header {
    background-color: #121212; /* Changes background on hover */
}

.frame.button:hover .frame-header h2 {
    color: var(--highlight-color);
}