/* Import other CSS files */
@import url('frames.css');
@import url('navbar.css');
@import url('stat-table.css');
@import url('data-table.css');
@import url('leaderboard-table.css');
@import url('switch.css');
@import url('kvp.css');


@font-face {
    font-family: "Posterama 1927";
    src: url("https://db.onlinewebfonts.com/t/bf8e6666252f4d6e781c1afacd6fb995.eot");
    src: url("https://db.onlinewebfonts.com/t/bf8e6666252f4d6e781c1afacd6fb995.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/bf8e6666252f4d6e781c1afacd6fb995.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/bf8e6666252f4d6e781c1afacd6fb995.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/bf8e6666252f4d6e781c1afacd6fb995.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/bf8e6666252f4d6e781c1afacd6fb995.svg#Posterama 1927")format("svg");
} /* font-family: "Posterama 1927"; */

@font-face {
    font-family: "Brandon Grotesque Medium";
    src: url("https://db.onlinewebfonts.com/t/5b15925f730447e503cfd467c0c91c3f.eot");
    src: url("https://db.onlinewebfonts.com/t/5b15925f730447e503cfd467c0c91c3f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5b15925f730447e503cfd467c0c91c3f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5b15925f730447e503cfd467c0c91c3f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5b15925f730447e503cfd467c0c91c3f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5b15925f730447e503cfd467c0c91c3f.svg#Brandon Grotesque Web Medium")format("svg");
} /* font-family: "Brandon Grotesque Medium"; */

@font-face {
    font-family: "Brandon Grotesque Regular";
    src: url("https://db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.eot");
    src: url("https://db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.svg#Brandon Grotesque Regular")format("svg");
} /* font-family: "Brandon Grotesque Regular"; */

/* Define CSS Variables for Light and Dark Themes */
:root {

    /* General */
    --background-color: #F9F9F9;
    --footer-bg: #333;
    --highlight-color: #FFD700;
    --quick-anim-time: 0.1s;
    --slow-anim-time: 0.2s;
    
    /* Text */
    --text-color: #333;
    --alt-text-color: #dbdbdb;
    --secondary-text-color: #555;
    --footer-text: #FFF;
    --background-gradient: linear-gradient(160deg, #e8e8e8, #ffffff, #e8e8e8);

    --light-font: "Brandon Grotesque Regular";
    --heavy-font: "Brandon Grotesque Medium";

    /* Frames */
    --frame-background: #FFF;
    --frame-border: #DDD;

    --alt-frame-background: #1a1a1a;
    --alt-frame-border: #444;
    --shadow-color: rgba(0, 0, 0, 0.1);

    /* Graphs */
    --graph-background: #F0F0F0;

    /* Tables */
    --table-header-text-color: #E0E0E0;
    --table-header-bg: #333;
    --table-even-row-bg: #f9f9f9;
    --table-odd-row-bg: #eeeeee;
    --table-line-color: #ddd;
}

/* Dark Theme */
/*[data-theme="dark"]*/ 
.dark-theme {
    /* General */
    --background-color: #121212;
    --highlight-color: #ff0073;
    --footer-bg: #222;
    --background-gradient: linear-gradient(160deg, #121212, #181818, #121212);
    
    /* Text */
    --text-color: #E0E0E0;
    --alt-text-color: #333;
    --secondary-text-color: #BBB;
    --footer-text: #CCC;
    
    /* Frames */
    --frame-border: #444;
    --alt-frame-background: #e1e1e1;
    --alt-frame-border: #DDD;
    --shadow-color: rgba(255, 255, 255, 0.1);
    --frame-background: #1E1E1E;
    
    /* Graphs */
    --graph-background: #252525;

    /* Tables */
    --table-header-text-color: #E0E0E0;
    --table-header-bg: #0b0b0b;
    --table-even-row-bg: #1b1b1b;
    --table-odd-row-bg: #151515;
    --table-line-color: #272727;
}

/* Global Styles */
body {
    font-family: var(--light-font), Arial, sans-serif;
    text-transform: uppercase;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 40px;

    /*background: linear-gradient(120deg, #ff7eb3, #75faff, #c66aff, #dbff4a, #ff7eb3);*/
    background: var(--background-gradient);
    background-size: max(100%, 100vw) max(100%, 100vh);
    background-size: cover;
    background-attachment: fixed;
    /*animation: gradientMove 2s infinite linear;*/
}

@keyframes gradientMove {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}


main {
    padding: 20px;
}


/* Generic Graph Container */
.graph-container {

    align-items: center;
    flex: 1; /* Takes up remaining space */
    min-height: 0; /* Prevents overflow issues */
    width: 100%;
    height: 100%;
}





/* Theme Toggle Button (optional) */
.theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: var(--frame-background);
    color: var(--text-color);
    border: 1px solid var(--frame-border);
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}


/* Buttons */
.primary-btn {
    /*position: fixed;*/
    padding: 10px 20px;
    font-size: 16px;
    background: gold;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.primary-btn:hover {
    background: darkgoldenrod;
    color: white;
}


footer {
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    background-color: #333;
    color: #FFF;
}