/* Nav Bar Style */
.navbar {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;

    text-transform: uppercase;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 22px;
    
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 10px;

    transition: background-color 0.3s ease, font-weight 0.1s ease;
}

.navbar a:hover {
    background-color: var(--highlight-color);
    font-weight: 500;
    color: var(--text-color);
}






/* Secondary Navbar Container */
.secondary-navbar {
    gap: 10px; /* Spacing between elements */
    
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 18px;
    
    text-transform: uppercase;
    text-align: center;
    color: var(--text-color);
}
  
  /* Links Styling */
  .secondary-navbar a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
  }
  
  
  /* Active Link */
  .secondary-navbar a.active {
    font-weight: bold; /* Bold text for active link */
  }
  
  /* Hover Effect */
  .secondary-navbar a:hover {
    color: var(--text-color); /* Change color on hover */
    text-decoration: underline;
  }
  
  /* Slash Separator Styling */
  .secondary-navbar span {
    color: var(--text-color); /* Lighter color for separators */
    font-weight: normal;

    cursor: default;
  }
  