@font-face {
    font-family: "Posterama 1927";
    src: url("https://db.onlinewebfonts.com/t/bf8e6666252f4d6e781c1afacd6fb995.eot");
    src: url("https://db.onlinewebfonts.com/t/bf8e6666252f4d6e781c1afacd6fb995.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/bf8e6666252f4d6e781c1afacd6fb995.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/bf8e6666252f4d6e781c1afacd6fb995.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/bf8e6666252f4d6e781c1afacd6fb995.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/bf8e6666252f4d6e781c1afacd6fb995.svg#Posterama 1927")format("svg");
} /* font-family: "Posterama 1927"; */

@font-face {
    font-family: "Brandon Grotesque Medium";
    src: url("https://db.onlinewebfonts.com/t/5b15925f730447e503cfd467c0c91c3f.eot");
    src: url("https://db.onlinewebfonts.com/t/5b15925f730447e503cfd467c0c91c3f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5b15925f730447e503cfd467c0c91c3f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5b15925f730447e503cfd467c0c91c3f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5b15925f730447e503cfd467c0c91c3f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5b15925f730447e503cfd467c0c91c3f.svg#Brandon Grotesque Web Medium")format("svg");
} /* font-family: "Brandon Grotesque Medium"; */

@font-face {
    font-family: "Brandon Grotesque Regular";
    src: url("https://db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.eot");
    src: url("https://db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/544da55955a950deb15d6a7536c4da34.svg#Brandon Grotesque Regular")format("svg");
} /* font-family: "Brandon Grotesque Regular"; */

body {
    font-family: "Brandon Grotesque Medium";
    /*font-family: "Helvetica Neue", Arial, sans-serif;*/
    background-color: #F9F9F9;
    color: #333;
    margin: 0;
    padding: 40px;
}
header nav {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}
header nav a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 22px;
    font-family: "Brandon Grotesque Regular";
}
header nav a:hover {
    background-color: #FFD700; /* Yellow background for hover */
    color: #333; /* Keep text color consistent */
    font-family: "Brandon Grotesque Medium";
}
main {
    padding: 20px;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.menu-item {
    width: 45%;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.menu-item img {
    width: 100%;
    border-radius: 8px;
}
.menu-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 10px;
    color: #000;
    font-size: 36px;
}
.menu-item p {
    font-size: 14px;
    margin: 0 0 10px;
    color: #555;
}
.bonus {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    background-color: #FF6F00;
    padding: 5px 10px;
    border-radius: 8px;
    margin-top: 10px;
}
footer {
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    background-color: #333;
    color: #FFF;
}